*{
    margin:0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: red solid; */
    padding: 20px;
    height: 5vh;
}
.search{
    display: flex;
    height: 5vh;
}
.search input{
    width: 700px;
    height: 100%;
}
.search .lence{
    height: 96%;
    justify-content: center;
    border: rgb(0, 0, 0) solid 1px;
    align-items: center;
    display: flex;
    width: 38px;
    background-color: rgb(3, 184, 3);
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   
}
.logos{
    display: flex;
    column-gap: 40px;
    margin-right: 60px;
}
.logos i{
    font-size: 25px;
}

.pictures{
    /* border: black solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
.pictures1{
    width: 95%;
}
.pictures1 marquee img{
    width: 100%;
   height: 65vh;
}
.content{
    /* border: 2px solid red; */
    line-height: 50px;
}
.shipping{
    text-align: center;
    background-color: gray;
    height: 40px;
    margin-top: 20px;
}
.register{
    text-align: center;
    background-color: gray;
    height: 40px;
    margin-top: 20px;
}
.register button{
    background-color: gray;
    border:1px solid black;
    padding: 5px;
    font-weight: bold;
}
.laptop{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    height: 100vh;
    width: 100%;
    padding-top: 50px;

}
.photo{
    /* border: 2px solid red; */
    width: 100%;
}
.photo img{
    width: 95%;
    padding: 10px;
}
.percentage{
    /* border: 2px solid red; */
    width: 50px;
    height: 30px;
    padding-top: 5px;
    border-radius: 10px;
    background-color: rgb(164, 240, 164);
    text-align: center;
}
.product{
    display: flex;
    margin-top: 50px;
    column-gap: 20px;
    overflow-x: scroll;
}
.pro{
    padding: 20px;
}
p{
    padding-top: 10px;
}
footer{
    background-color: rgb(32, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot{
    /* border: 2px solid red; */
    width: 80%;
}
.contact{
    padding-top: 40px;
    color: green;
}
.address{
    display: flex;
    justify-content: space-around;
}
.box{
    padding-top: 50px;
    padding-bottom: 50px;
}
.box h3{
    color: white;
    padding-bottom: 10px;
}
.box p{
    color: rgba(200, 200, 196, 0.789);
}
.box i{
    color: white;
    font-size: 30px;
}